header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    h1 {
        margin: 0;
    }
    >div {
        position: relative;
        i {
            font-size: 2rem;
            position: absolute;
            top: -15px;
            left: -30px;
        }
    }
}