$blue1: #004385;
$blue2: #045192;
$blue3: #165B9D;
$blue4: #206BB0;
$blue5: #237EBB;
$lightBlue: #b1d8f5;
$darkGrey: #454545;
$lightGrey: #acacac;
$orange: #FE7F01;
$success: #28a745;
$danger: #dc3545;