<section class="container">
    <mat-card>
        <h1 class="mat-h1">Tiles</h1>
        <ul class="categories" fxLayout fxLayoutGap="10px">
            <li *ngFor="let cat of ts.categories">
                <button 
                    mat-raised-button 
                    color="accent"
                    (click)="fetchTiles(cat)">
                    {{ cat | uppercase }}
                </button>
            </li>
        </ul>
    </mat-card>
</section>

<section class="container">
    <mat-card>
        <button mat-fab color="primary" (click)="onAddNew()">
            <mat-icon>add</mat-icon>
        </button>
        <div fxLayoutAlign="center center">
            <mat-form-field fxFlex.xs="90%" fxFlex="40%">
                <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
        <mat-table [dataSource]="dataSource" matSort>
            
            <ng-container matColumnDef="category">
                <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.category }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="link">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Link</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a href="{{ element.link }}" target="_blank">< Link ></a> 
                </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="icon">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Icon</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.icon }}</mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="priority">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Priority</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.priority }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div class="actions">
                        <button mat-mini-fab color="accent"
                            (click)="onEdit(element)">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn"
                            (click)="onDelete(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        
        </mat-table>
        
        <mat-paginator [pageSize]="8" [pageSizeOptions]="[5, 8, 15, 25]">
        </mat-paginator>
    </mat-card>
</section>